body, div, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 0.0625em;
}

header, main, footer {
  padding: 1rem;
  margin: .5rem 1rem;
  text-align: center;
  transition: 200ms;
}

.page {
  height: 50vh;
  flex: 1 1 auto;
  border: 1px black solid;
}

footer {
  height: 15vh;
  background: white;
}

a {
  text-decoration: none;
}

header {
  top: 0;
  left: 0;
  z-index: 100;
}

header ul {
  list-style: none;
  text-align: center;
  margin-top: 30px;
}

header ul li {
  display: inline-block;
  margin-right: 20px;
}

header ul li:last-child {
  margin-right: 0;
}

header a {
  position: relative;
  top: 0;
  padding: 10px 20px;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
  background-color: #c3ecc7;
  color: #398a46;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

header a.active {
  top: -4px;
  background-color: #69C773;
  color: #FFFFFF;
  -webkit-box-shadow: 0 4px 0 0 #51a65f;
  -moz-box-shadow: 0 4px 0 0 #51a65f;
  box-shadow: 0 4px 0 0 #51a65f;
}

