

header, main, footer, div {
  padding: 1rem;
  margin: .5rem 1rem;
  text-align: center;
  transition: 200ms;
}
header {
  height: 5vh;
  display: block;
  border: 1px black solid;
}
main {
  height: 50vh;
  flex: 1 1 auto;
  border: 1px black solid;
}

.about {
  height: 50vh;
  flex: 1 1 auto;
  border: 1px black solid;
}

footer {
  height: 15vh;
  background: white;
}

a {
  text-decoration: none;
}